{% extends 'userapp/usermaster.html' %}
{% load static %}
{% block content %}
{% load cart_tag %}

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>**************</p>
						<h1>Check Out Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<form method="post">
				{% csrf_token %}
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Billing Address
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
									<p><input type="text" name="name" class="form-control" placeholder="Name" required></p>
									<p><input type="email" name="email" class="form-control" placeholder="Email" required></p>
									<p><input type="text" name="address" class="form-control" placeholder="Address" required></p>
									<p><input type="tel" name="phone" class="form-control" placeholder="Phone"required ></p>
									<p><textarea name="description" class="form-control" id="bill" cols="30" rows="10" placeholder="Say Something" required></textarea></p>
									<label for="cod">Cash on Delivery</label>
									<input type="radio" id="cod" name="payment" value="cod" required> 
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          Shipping Address
						        </button>
						      </h5>
						    </div>
						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="shipping-address-form">
						        	<p>Your shipping address form is here.</p>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          Card Details
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">
						        	<p>Your card details goes here.</p>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Your order Details</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td><strong>Artwork</strong></td>
									<td><strong>Total</strong></td>
								</tr>
								{% for key,value in request.session.cart.items %}
								<tr>
									<td>{{value.name}}</td>
									<td>{{ value.price|multiply:value.quantity }}</td>
								</tr>
								{% endfor %}
								
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Subtotal</td>
									<td>Rs.{{subtotal}}</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td>Rs.{{shipping}}</td>
								</tr>
								<tr>
									<td>Total</td>
									<td>Rs.{{total}}</td>
								</tr>
							</tbody>
						</table>
						<button type="submit" class="btn btn-warning boxed-btn">Place Order</button>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}