{% comment %} {% load static %} 
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neumorphism Register Form</title>
    <link rel="stylesheet" href="{% static 'userapp/assets/css/form.css' %}">
</head>
<body>
    <form class="login-part" method="POST">
        {% csrf_token %}
        
        <div class="title">Artist Register</div>
        <div class="fields">
            <div class="username">
                <input type="text" class="user-input" name="username" placeholder="Username" required>
            </div>
            <div class="email">
                <input type="email" class="user-input" name="email" placeholder="Email" required>
            </div>
            <div class="password">
                <input type="password" class="pass-input" name="password" placeholder="Password" required>
            </div>
            <div class="password">
                <input type="password" class="pass-input" name="password1" placeholder="Confirm Password" required>
            </div>
        </div>
        <button type="submit" class="login-button">Register</button>
        <div class="link">Already have an account? <a href="{% url 'loginview' %}">Login</a></div>
    </form>
    
</body>
</html> {% endcomment %}
